<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style/mainStyle.css">
    <meta charset="UTF-8">
    <title>Chapter5 notes</title>
</head>
<body>
<h1>Merlin's Gallery</h1>
<a class="link" href="/">Home</a>
<hr>
        <p>
            <img src="/static/images/Good%20ones/288.JPG" alt="Link to Landscape album" title="Landscapes" width="900" height="600">
            <a class="link" href="landscape"><b>Landscapes</b></a>
            <br>
            <br>
            <img src="/static/images/Good%20ones/085.jpg" alt="Link to Astro photography" width="900" height="600">
            <a class="link" href="astrophotography"><b>Astrophotography</b></a>
        </p>
</body>
</html>